$breakpoint-small: 576px; // For phones
$breakpoint-big: 900px; // For tablets, laptops and bigger

.uvodni_stranka{
  li{
    margin-bottom: 20px;
  }
  @media (max-width: $breakpoint-small) {

    &__hlavni_menu{
      display: flex;
      flex-direction: column;
    }

    &__icon{
      width: 100px;
      display: flex;
    }
  }

  @media (min-width: $breakpoint-small){
    &__icon{
      width: 100px;
      display: flex;
    }
  }

  @media (min-width: $breakpoint-big){
  }
}