$breakpoint-small: 576px; // For phones
$breakpoint-big: 900px; // For tablets, laptops and bigger

.kontakt{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--bold{
    font-weight: bold;
  }

  p{
    margin: 2px;
  }

  @media (max-width: $breakpoint-small) {
  }

  @media (min-width: $breakpoint-small){
  }

  @media (min-width: $breakpoint-big){
  }
}