ul {
  margin: 0;
  padding: 0;
  background-color: #405c2f;
}

li { 
  display: block; 
}

a {
  display: block;
  padding: 6px 12px;
  text-decoration: underline;
  color: white;
  font-weight: 400;
}

a:hover {
  background-color: blue;
}