$breakpoint-small: 576px; // For phones
$breakpoint-big: 900px; // For tablets, laptops and bigger

.letni_tabory{
  ul {
    margin: 0;
    padding: 0;
  }
  
  li { 
    display: block; 
  }
  
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: underline;
    color: white;
    font-weight: 400;
  }
  
  a:hover {
    color: blue;
  }
  @media (max-width: $breakpoint-small) {
  }

  @media (min-width: $breakpoint-small){
    margin: 10px;
  }

  @media (min-width: $breakpoint-big){
  }
}