$breakpoint-small: 576px; // For phones
$breakpoint-big: 900px; // For tablets, laptops and bigger

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $breakpoint-small) {
    &__logoCTU{
      width: 200px;
      margin: 20px;
    }
  }

  @media (min-width: $breakpoint-small){
    &__logoCTU{
      width: 200px;
      margin: 20px;
    }
  }

  @media (min-width: $breakpoint-big){
    margin-top: 100px;

    &__logoCTU{
      display: none;
    }
  }
}
